
.header {
  text-align: center;
}
.bg-header {
  background-color: #025464;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bg-footer {
  background-color: #025464;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.at-home-login {
  margin: 0;
}

span {
  &.dangerText {
    color: #dc3545;
  }

  &.infoText {
    color: #17a2b8;
    font-weight: bold;
  }
}

#root {
  width: 100%;
  height: 100%;

  > .container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0;
  }
}
.invalid-feedback {
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
  color: #068DA9;
}

.content {
  flex: 1;
  overflow: hidden;
}

.translate-y-50 {
  transform: translateY(50%);
}

.navbar-light {
  padding: 2px 0;
}
